/*@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');*/

:root {
    --fonts: 'Play', sans-serif;
}

html {
    overflow-x: hidden;
    width: 100%;
}

body {
    /*background: #11111108;*/
    color: #111111;
    font-family: var(--fonts);
    height: 100%;
    margin: 0;
    position: relative;
    transition: all .3s;
    width: 100vw;
}

a, a:visited {
    color: #111111;
    text-decoration: none;
}

a:hover {
    color: #111111;
    text-decoration: underline;
}

h1 {
    font-weight: 700;
    margin: 0;
    text-align: center;
}

h2 {
    margin: 0 0 10px 0;
    text-align: center;
}

.muted2 {
    color: #888;
}

.text {
    margin: 10px 0 0 0;
    padding: 10px 20px;
    text-align: center;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 35px 20px;
}

.title {
    text-align: center;
}

.nav {
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dddddd;
    font-size: 12px;
    font-weight: 600;
}

.nav a {
    color: inherit;
    flex: 1;
    padding: 10px;
    text-align: center;
    transition: all .1s;
}

.nav a:hover {
    color: inherit;
    text-decoration: none;
    background: #333333;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0 50px 0;
    padding: 0 5px;
}


.change {
    align-content: center;
    align-items: center;
    background: #009f00;
    border-radius: 5px;
    /*border: 1px solid #111;*/
    /*box-shadow: 0 0 10px #11111188;*/
    border: 1px solid #11111122;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: .7rem;
    justify-content: center;
    padding: 4px 5px 3px 5px;
    position: fixed;
    right: 5px;
    top: 5px;
    transition: all .3s;
    opacity: .5;
}

.on {
    background: #ff0000;
    color: #fff;
}

.subTitle {
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
    background: #333;
    color: #fff;
}

th{
    background: #111;
}

th, td {
    border: 1px solid #888;
    padding: 10px;
    word-break: break-word;
}

thead tr {
    background: #EEEEEE;
    text-align: center;
}

.request-th-type{
    width: 10%;
}
.request-th-value{
    width: 30%;
}
.request-th-note{
    width: 25%;
}
.request-th-uri{
    width: 40%;
}


.request-td-uri {
    text-align: left;
}

.request-td-uri a {
    color: #fff;
}

.request-type {
    color: #71db6d;
}

.request-equals{
    color: #fff;
}

.request-value {
    color: #6da2db;
}

.api-return {
    text-align: left;
}

.api-return-section {
    margin: 2px 0;
}

.api-return-detail {
    margin: 2px 0;
    padding-left: 10px;
}

.json-response {
    margin-top: 10px;
    width: 100%;
}

.request-doc {
    width: 100%;
    text-align: center;
}

.json-request {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.json-color {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.return {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.returned-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.examples div div:nth-child(2n) {
    border-radius: 0.3em;
    border: 1px solid #11111122;
}

.examples div div:first-child {
    padding: 5px 0 0 5px;
    text-align: left;
}

.examples div div:nth-child(2) {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 0 10px 0;
}

pre {
    background: #eee !important;
    border: 1px solid #11111122;
    font-size: .8rem !important;
    max-width: 600px;
    padding: 10px;
    width: 100%;
}

pre code {
    color: #353535 !important;
    font-family: sans-serif;
    text-shadow: none !important;
    word-break: break-word;
}

pre code .punctuation, .operator {
    color: #353535 !important;
}

pre code .property {
    color: #0041a2 !important;
}

pre code .string {
    color: #a20000 !important;
}

pre code .number {
    color: #39a200 !important;
}


.footer {
    background: #111111;
    bottom: 0;
    color: #fff;
    font-size: .6rem;
    left: 0;
    padding: 3px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:visited {
    color: #fff;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

#footer-arrow {
    background: #00000022;
    bottom: 18px;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-around;
    line-height: 1em;
    padding: 0 5px;
    position: fixed;
    right: 0;
    transform: scale(1, 1);
    transition: transform .2s;
    z-index: 1;

}

#footer-arrow-up:hover,
#footer-arrow-down:hover {
    /*transform: scaleX(.8);*/
}

#footer-arrow-up {
    height: 30px;
    transition: transform .2s;
}

#footer-arrow-down {
    height: 30px;
    transition: transform .2s;
}

.clockwiseRotation {
    animation: clockwiseRotation 2s ease-in-out infinite;
    /*-webkit-animation: clockwiseRotation 4s ease-in-out infinite;*/
    display: inline-block;
}

.counterclockwiseRotation {
    animation: counterclockwiseRotation 2s ease-in-out infinite;
    /*-webkit-animation: counterclockwiseRotation 4s ease-in-out infinite;*/
    display: inline-block;
}

@-webkit-keyframes clockwiseRotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes counterclockwiseRotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}

@media (min-width: 600px) {
    .nav{
        font-size: 16px;
    }

    .container {
        padding: 0 20px;
    }

    table{
        width: 80%;
    }

    .change:hover {
        box-shadow: 0 0 20px #11111188;
    }

}